# Database Configuration
DB_HOST=localhost
DB_NAME=insurance_db
DB_USER=Osama
DB_PASSWORD=YourPassword123
DB_PORT=3306

# Authentication
AUTH_USERNAME=admin
AUTH_PASSWORD=admin123

# Vercel Configuration
PORT=8050
